.LayerContainer{
    background-color: red;
    border-radius: 20px;
    padding: 20px;
}

.LayerTitleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px;
}

.LayerTitleImg{
    height: 45px;
    width: 45px;
    object-fit: contain;
    margin: 0 15px 0 0;
}

.LayerTitleText{
    margin: 0;
}

.LayerSettingsContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.LayerProp{
    display: flex;
}

.LayerSettingsName{
    margin: 0 10px 0 0;
}

.LayerNumberParam{
    flex: 1;
}

.LayerComboParam{
    flex: 1;
}