.LayerContainer{
    background-color: rgba(176, 176, 176, 0.68);
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}

.LayerTitleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.LayerTitleImg{
    height: 45px;
    width: 45px;
    object-fit: contain;
    margin: 0 15px 0 0;
}

.LayerTitleText{
    margin: 0;
}

.LayerSettingsContainer{
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.LayerProp{
    display: flex;
}

.LayerSettingsName{
    margin: 0 10px 0 0;
}
